.predictions-subheader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3.2fr 0.5fr 1fr;
  padding: 16px 22px;
  gap: 12px;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
}
.prediction-status,
.prediction-topic {
  display: flex;
  gap: 6px;
  align-items: center;
}
.prediction-forecater,
.prediction-span,
.prediction-market {
  display: flex;
}

@media (max-width: 768px) {
  .predictions-subheader {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 22px 12px 22px;
    gap: 12px;
  }

  .prediction-forecater,
  .prediction-span,
  .prediction-market {
    display: none;
  }
}
