.feed-card {
  padding: 22px;
  border-radius: 10px;
  background: #262626;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header > .card-header-btn {
  background-color: #4b6cc2;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 12px 36px;
  color: #fff;
}
.card-header-img {
  border-radius: 50%;
  border: 1px solid #4b6cc2;
  padding: 2px;
  height: 44px;
  width: 44px;
}
.card-header-img > img {
  width: 38px;
  height: 38px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.profile-name {
  padding-left: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.profile-name span {
  font-size: 14px;
  color: #aeaeae;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-status {
  font-size: 14px;
  display: flex;
  padding-top: 12px;
  align-items: center;
  font-weight: 400;
  line-height: normal;
}
.card-status p {
  margin-left: 6px;
  color: #aeaeae;
  font-size: 14px;
}
.card-dates {
  display: flex;
  padding-top: 12px;
  gap: 15px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-dates span {
  color: #aeaeae;
}
.card-description {
  color: #aeaeae;
  padding-top: 12px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-image {
  padding-top: 12px;
  width: 100%;
  margin: 0 auto;
}
.card-image > img {
  width: 100%;
}
.card-footer {
  margin-top: 24px;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.dislikes,
.likes {
  display: flex;
  gap: 6px;
  align-items: center;
}
.dislikes span,
.likes span {
  font-size: 14px;
}
@media (max-width: 768px) {
  .card-footer {
    width: 100%;
  }
  .feed-card {
    padding: 16px;
  }
  .card-header > .card-header-btn {
    border-radius: 22px;
    font-size: 14px;
    padding: 8px 28px;
  }
}
