.trending-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background-color: #262626;
  margin: 8px 0px;
  border-radius: 8px;
}
.trending-card .trending-card-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.trending-card .trending-card-header p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.trending-card .trending-card-header span {
  color: #aeaeae;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trending-card .trending-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  color: white;
}
.trending-card .trending-card-body > h5 {
  font-size: 24px;
}
.trending-card-body > img {
  width: 12%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .trending-card .trending-card-body > h5 {
    font-size: 16px;
  }
  .trending-card-body > img {
    width: 25%;
  }
  .trending-card .trending-card-body {
    gap: 2rem;
  }
}
