.summaries-subheader {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  width: 100%;
  gap: 16px;
  padding: 16px 22px;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
}
