.status-popper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #282828;
}
.button-grp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.button-grp button.active {
  border-color: white;
}
.button-grp > .true {
  background-color: #23b678;
  border: 2px solid #23b678;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.button-grp > .false {
  background-color: #e72e2e;
  border: 2px solid #e72e2e;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.button-grp > .p-true {
  background-color: #b5752a;
  border: 2px solid #b5752a;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.button-grp > .pending {
  background-color: #374c98;
  border: 2px solid #374c98;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.apply {
  width: 100%;
}
.apply > .apply-btn {
  width: 100%;
  background-color: #4b6cc2;
  border: none;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
