.leaderboard-subheader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
  padding: 16px 22px;
  background-color: black;
  position: sticky;
  top: 4rem;
  z-index: 10;
  flex-shrink: 0;
  gap: 12px;
}
.subheader-block {
  color: #aeaeae;
  font-size: 16px;
  font-weight: 600;
}
.leader-name,
.points,
.rank,
.bankroll,
.fav {
  display: block;
}

@media (max-width: 1024px) {
  .leaderboard-subheader {
    top: 0;
  }
}

@media (max-width: 768px) {
  .leaderboard-subheader {
    display: flex !important;
    grid-template-columns: none;
    width: 100%;
    padding: 16px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 12px;
  }
  .leader-name,
  .points,
  .rank,
  .bankroll,
  .fav {
    display: none;
  }
}
